.row{
    position: relative;
    padding-top: 90px;

    .row__genres__switch{
        width: 100px;
        height: 100px;
        background-color: rgb(50, 50, 182);
        display: grid;
        place-items: center;
        border-radius: 50%;
        position: absolute;
        top: 20px;
        left: 35%;
        z-index: 100;
        color: #fff;
        z-index: 0;
    }
}

.row__genres{
    margin: 50px 0 0 0 ;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    // background-color: #8b8b8b;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    

    .row__genres__btn{
        background-color: inherit;
        width: 120px;
        color: #fff;
        font-size: 16px;
        padding: 10px 5px;
        border: 1px solid #fff;
        margin: 10px;
        border-radius: 5px;
        cursor: pointer;

        &:focus{
            outline: none;
        }
        &:hover{
            background-color: #fff;
            color: inherit;
        }
    }

    
}

.row__genres__visible{
    height: 427px;
    // height: 100%;
    transition: 0.5s;
    // overflow: hidden;
}
.row__items{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media(min-width: 640px){
    .row{
        padding-top: 0;
        .row__genres__switch{
            display: none;
        }
    }
    
    
    .row__genres{
        height: 100%;
        margin: 40px 0;
        background-color: inherit;

        .row__genres__btn{
            margin: 15px;
            width: 130px;
        }

    }
}