.popular{
    // height: 500px;
    background-color: rgb(230, 228, 228);
    display: flex;
    flex-direction: column;
}

.popular__title{
    padding: 30px 0 10px 10px;
    font-weight: bold;
    font-size: 20px;
    color: #333;
    margin-top: 24px;
}
.popular__movies__container{
    display: flex;
    height: 80%;
    overflow-x: auto;
    margin: 20px 0;

    &::-webkit-scrollbar {
        display: none;
    }


    .popMovie{
        margin: 10px;
    }

    .popMovie img{
        width: 250px;
        max-height: 100%;
        object-fit: cover;
    }
}